# Object files
obj/*
*.o
*.d
*.out
libasm.a

# Test object files
a.out

# Testers
libasmTester
42libasm_tester

# ENV
.secret
.vscode/settings.json
clone/.DS_Store
clone/obj/*.dSYM/Contents/Info.plist
clone/obj/*.out.dSYM/Contents/Resources/Relocations/x86_64/*.out.yml
